/* 1. Стили для body (через импорт — способ №4) */
@import url('css/extra.css');

/* 3. Блок увлечений (селектор ID) */
#hobby {
    background-color: lightblue;
    width: 505px;
    height: 50mm;
    text-align: center;
}

/* Комментарий 1 */
/* Это стиль блока */

/* Комментарий 2 */
/* Используем ID селектор */

/* Комментарий 3 */
/* Выравнивание текста */